<h1><%= t('goals.index.title') %></h1>

<%= render :partial => 'table', :locals => { :goals => @goals } %>

<br />

<%= link_to( t('goals.index.new_goal'), new_goal_path ) if can? :create_root, Goal %>