<style type="text/css">
  ul {
      line-height: 40px;
  }
</style>

<h1><%= t('.title') %></h1>

<ul>
  <%- @roots.each do |root| -%>
      <%= render :partial => 'li', :locals => {:goal => root} %>
      <%- unless root.children.for_institution(current_user.institution_id).empty? -%>
        <%= render :partial => 'children', :locals => { :goals => root.children.for_institution(current_user.institution_id)} %>
      <%- end -%>
<%- end -%>
</ul>

